{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'assets/img/basic/favicon.ico' %}" type="image/x-icon">
    <title>CovidTracker</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }
        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body>
<!-- Pre loader -->
<div id="loader" class="loader">
    <div class="plane-container">
        <div class="l-s-2 blink">LOADING</div>
    </div>
</div>
{% block content %}
<div id="app" class="paper-loading">
    <div class="btn-fixed-top-left">
        <a href="documentations.html"
           class="btn-fab  btn-primary shadow1">
            <i class="icon icon-clipboard-list"></i>
        </a>
    </div>

<!--Sidebar Toggle Button-->
<a href="#" data-toggle="offcanvas" class="paper-nav-toggle fixed left"><i></i></a>

<!--Sidebar Start-->
<aside class="main-sidebar fixed offcanvas shadow">
    <section class="sidebar">
        <div class="user-panel">
                <div class="image float-left">
                    <img class="user_avatar" src="{% static 'assets/img/dummy/u2.png' %}" alt="User Image">
                </div>
                <div class="info">
                    <h6 class="p-t-10">{{request.user}}</h6>
                    <a href="#"><i class="icon-circle text-primary blink"></i> Online</a>
                </div>
        </div>
        <ul class="sidebar-menu">
            <li><a href="{% url 'UserList' %}"><i class="icon icon-user-circle"></i>Users List</a>
            <li><a href="{% url 'InstituitionList' %}"><i class="icon icon-user-circle"></i>Institution List</a>
            <li><a href="{% url 'PositiveUserList' %}"><i class="icon icon-user-circle"></i>Covid Positive List</a>
            <li><a href="{% url 'FeedbackList' %}"><i class="icon icon-user-circle"></i>Feedback List</a>
            <li><a href="{% url 'AlertList' %}"><i class="icon icon-user-circle"></i>Alert List</a>
            <li><a href="{% url 'Logout' %}"><i class="icon icon-user-circle"></i>Logout</a>
        </ul>
    </section>
</aside>
<!--Sidebar End-->

<div class="page light offcanvas-page">
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <div class="search-bar">
                    <input class="transparent s-24 text-white b-0 font-weight-lighter w-100 height-50"  type="text" placeholder="start typing...">
                </div>
                <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>

            </div>
        </div>
    </div>
    <header class="blue accent-3 relative">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-end bd-navbar">
         
        </div>
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-package"></i>
                        Covid History of {{object.get_full_name}}
                    </h4>
                </div>
            </div>
            <div class="row ">
                <!-- <ul class="nav nav-material nav-material-white">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="icon-list"></i>All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-clipboard-add"></i> Add New Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-trash-can"></i>Trash</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </header>
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-success {% endif %}" role="alert" style="margin: 1%;">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="content-wrapper animatedParent animateOnce">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card no-b">
                        <div class="collapse show" id="salesCard">
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-hover ">
                                        <tbody>
                                            <th>User</th>
                                            <th></th>
                                            <th>User Contact</th>
                                            <th>Covid Status</th>
                                            <th>Date</th>
                                        {% for each in object.postivity_logs.all %}
                                        <tr>
                                            <td class="w-10">
                                                {% if object.profile_pic1 %}
                                                <img src="{{ object.profile_pic1.url }}"  alt="">
                                                {% endif %}
                                            </td>
                                            <td>
                                            <td>
                                                <span>{{ object.get_full_name }}</span><br>
                                                <span>{{ object.user.username }}</span><br>
                                                <span>{{ object.user.email }}</span>
                                            </td>
                                            <td>
                                                <span>
                                                    {{each.get_covid_status_display}}
                                                </span>
                                            </td>
                                            <td>
                                                {{each.timestamp}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="covid_status_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change Covid Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="con_body"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submitOK">Change</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- Login modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog width-400" role="document">
        <div class="modal-content no-r "><a href="#" data-dismiss="modal" aria-label="Close"
                                            class="paper-nav-toggle active"><i></i></a>
            <div
                    class="modal-body no-p">
                <div class="text-center p-40 p-b-0">
                    <img src="{% static 'assets/img/dummy/u4.png' %}" alt="">
                    <h3>Welcome Back</h3>
                    <p class="p-t-b-20">Hey Soldier welcome back signin now there is lot of new stuff waiting
                        for you</p>
                </div>
                <div class="light p-40 b-t-b">
                    <form action="dashboard2.html">
                        <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                            <input type="text" class="form-control form-control-lg"
                                   placeholder="Email Address">
                        </div>
                        <div class="form-group has-icon"><i class="icon-user-secret"></i>
                            <input type="text" class="form-control form-control-lg"
                                   placeholder="Password">
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Log In">
                        <small class="forget-pass">Have you forgot your username or password ?</small>
                    </form>
                </div>
                <div class="p-40"><a href="#" class="btn btn-lg btn-block btn-social facebook">
                    <i class="icon-facebook"></i> Login with Facebook
                </a>
                    <a href="#" class="btn btn-lg btn-block btn-social twitter">

                        <i class="icon-twitter"></i> Login with Twitter

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SignUp modal -->
<div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content no-r "><a href="#" data-dismiss="modal" aria-label="Close"
                                            class="paper-nav-toggle active"><i></i></a>
            <div
                    class="modal-body no-p">
                <div class="row">
                    <div class="col-lg-5 grid">
                        <div class="p-40">
                            <h5 class="p-t-40">Sign Up Using Social Account</h5>
                            <p class="p-t-b-20">Hey Soldier welcome back signin now there is lot of new stuff waiting
                                for you</p> <a href="#" class="btn btn-lg btn-block btn-social facebook">
                            <i class="icon-facebook"></i> Login with Facebook
                        </a>
                            <a href="#" class="btn btn-lg btn-block btn-social twitter">

                                <i class="icon-twitter"></i> Login with Twitter

                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="light p-t-b-40">
                            <div class="p-40">
                                <h5 class="p-b-20">Create New User Account</h5>
                                <form action="dashboard2.html ">
                                    <div class="form-group has-icon"><i class="icon-user-circle"></i>
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Your Name">
                                    </div>
                                    <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Email Address">
                                    </div>
                                    <div class="form-group has-icon"><i class="icon-user-secret"></i>
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Password">
                                    </div>
                                    <div class="form-group has-icon"><i class="icon-repeat"></i>
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Confirm Password">
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign Up Now">
                                    <p class="forget-pass">A verification email wil be sent to you</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none;">
    <form method="POST" action="" name="covid_status_form" id="covid_status_form_id">
        {% csrf_token %}
    </form>
</div>



</div>
{% endblock %}
<!--End Page page_wrrapper -->
<script src="{% static 'assets/js/app.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#submitOK").on('click', function(){
            $("#covid_status_form_id").submit();
        }); 
    });
    function change_covid_status(el){
        url = $(el).attr('url');
        text_ = "Are you sure you want to change the covid status of " + $(el).attr('name')
        $("#con_body").text(text_)
        $("#covid_status_modal").modal('show');
        $("#covid_status_form_id").attr('action', url)
    }
</script>

</body>
</html>